<h1>Edit <%= @flat.name %></h1>

<%= render 'form' %>
<%= link_to "Back to Flat", flat_path(@flat), class: "btn btn-secondary mt-3" %><br>
<%= link_to "Delete", flat_path(@flat), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },  class: "btn btn-danger mt-3" %>
